.blogs .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.blogs .box-container .box{
    border-radius: 3rem;
    overflow: hidden;
    border: 1.5px solid #6751b9;
}

.project-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    font-family: 'Berlin Sans FB';
}

.blogs .box-container .boxs:hover .image h3{
    left: 1.5rem;
}

.blogs .box-container .boxs:hover .image h3{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.blogs .box-container .boxs .image{
    position: relative;
    height: 10rem;
    overflow: hidden;
    width: 100%;
    border-radius: 3rem 3rem 0 0;
}

.blogs .box-container .boxs .image h3{
    position: absolute;
    z-index: 10;
    top: 1rem;
    left: -100%;
    border-radius: .5rem;
    padding: .5rem 1rem;
    background: #f7f6f9;
    font-size: 1.2rem;
    color: #130f40;
}

.blogs .box-container .boxs  .image h3 i{
    padding-right: .5rem;
    color: #52389b;
}

.blogs .box-container .boxs .image img{
    height: 100%;
    width: 100%;
    -o-object-fit:cover;
    object-fit: cover;
}

.blogs .box-container .boxs .content{
  
    background: #130f2a;
    border-radius: 0 0 3rem 3rem;
    overflow: hidden;
}

.blogs .box-container .boxs .content .tags{
    padding: 1rem;
}

.blogs .box-container .boxs .content .tags span{
    font-size: 1rem;
    color: #494262;
    padding-right: .5rem;
}

.blogs .box-container .boxs .content .tags span:hover{
    color: #52389b;
}

.blogs .box-container .boxs .content .tags span i{
    color: #494262;
    padding-right: .5rem;
}

.blogs .box-container .boxs .content h3{
    font-size: 1rem;
    color: #8c8aa4;
}

.blogs .box-container .boxs .content p{
    font-size: 0.8rem;
    column-rule: #635985;
    padding: 1rem 0;
    line-height: 2;
}

.blogs .box-container .boxs .btn{
    border-radius: 1.2rem;
}

.boxs{
    padding: 0.1rem;
    border-radius: 3rem;
    z-index: 2;
    width: 100%;
    height: 100%;
}


.box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.box::before{
    content: '';
    position: absolute;
    width: 180px;
    height: 250%;
    background-color: white;
    box-shadow: 0 0 20px rgb(8,8,8);
    animation: animate 10s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 10px;

}

@keyframes animate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.lesbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding:0 2rem 1rem 2rem;
}

.arrows-left,
.arrows-right{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6751b9;
    border-radius: 0.65rem;
    border:1.5px solid #6751b9;
    z-index: 2;
    cursor: pointer;
}

.arrows-left i,
.arrows-right i{
    font-size: 2rem;
    font-weight: 500;
}

.arrows-left{
    left: 2rem;
    bottom: 2rem;
}

.arrows-right{
    right: 2rem;
}

@media (max-width:1025px ){
    .arrows-left{
        left: 0rem;
    }

    .arrows-right{
        right: 0rem;
    }
}

@media (max-width:768px){
    .arrows-left{
        left: 1rem;
    }

    .arrows-right{
        right: -1rem;
    }
}
